<div *ngIf="visible">
    <h4>{{ selectedCountry.name }}</h4>
    <h5>{{ selectedCountry.region }}</h5>
    <p>
        <em> {{ selectedCountry.population }} </em>
    </p>
    <p>Currencies: </p>
    <ul>
        <li *ngFor="let currency of selectedCountry.currencies">
            {{ currency }}
        </li>
    </ul>
    <p *ngIf="!selectedCurrencies">
        <em>LOADING...</em>
    </p>
    <ul *ngIf="selectedCurrencies">
        <li *ngFor="let currency of selectedCurrencies">
            <p>{{ currency.from }} {{ currency.from_amount }} </p>
            <p>{{ currency.to }} {{ currency.to_amount }}</p>
        </li>
    </ul>
</div>
